# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
QxtWidgets/GeneratedFiles/
RWMapMaker/GeneratedFiles/
*.pdb
*.pch
*.lastbuildstate
*.bsc
*.sbr
*/*/Debug/*.log
*/Debug/*.log
*.idb
*.opensdf
*.exp
*.ilk
*.sdf
*.suo
*.vcxprojResolveAssemblyReference.cache
*.exe.intermediate.manifest
